@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
  font-family: 'Roboto Mono', monospace;
  color: white
}

/*
  COLOR & VAR NORMALIZATION
*/

:root{
  --background-color: linear-gradient(33deg, rgba(76,143,206,1) 0%, rgba(231,110,226,1) 100%);
  --box-black: rgba(51, 51, 51,0.7);
  --menu-color: #333;
}

/*
  BODY MARGIN INIT
*/

body{
    margin: 0;
    padding: 0;
}

html{
  background: var(--background-color)
}

/*
  FIXED MENU STYLE
*/

.menu {
    overflow: hidden;
    background-color: var(--menu-color);
    position: fixed;
    top: 0;
    width: 100%;
  }

  .menu img{
    float: left;
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  .menu a{
    background-color: var(--menu-color);
    color: #f2f2f2;
    float: left;
    display: block;
    text-align: center;
    padding: 14.5px 20px;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 0.3s;
  }
  
  .menu a:hover{
    background: #ddd;
    color: var(--menu-color);
  }

/*
  FANCY SCROLLBAR
*/

::-webkit-scrollbar { 

  width: 15px;
}
::-webkit-scrollbar-track {
  background: #CCC; 
}
::-webkit-scrollbar-thumb {
  background: #555; 
}
::-webkit-scrollbar-thumb:hover {
  background: #777
}

/*
  PAGE STYLE
*/

.content{
    margin-top: 60px;
    height: 2000px;
}

.box{
  border-radius: 10px;
  background-color: var(--box-black);
}

/*
  HEADER SUMMARY & GRAPH
*/

.header{
  display: grid;
  margin: 0 30px;
  row-gap: 20px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "summary graph graph"
                       "div div div";
}

.prev-summary, .prev-graph{
  display: block;
  padding: 10px;
}

.prev-graph{
  grid-area: graph;
}

.graph{
  height: 100%;
  width: 100%;
}

.summary{
  grid-area: summary;
}

/*
  DIVISOR STYLE
*/

.divisor{
  height: 10px;
  width: 100%;
  background-color: var(--menu-color);
}

/*
  COMMENT AREA
*/

.comment{
  margin: 20px;
}

