@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root{
  --background-color: linear-gradient(45deg, rgba(76,143,206,1) 0%, rgba(231,110,226,1) 100%);
  --box-black: rgba(51, 51, 51,0.7);
  --box-black2: rgba(51, 51, 51,0.6);
  --box-black-selected: rgba(75, 75, 75,0.7);
  --menu-color: #333;
}

/*
  PAGE INIT
*/

.page{
  background: var(--background-color);
  animation-name: background-animation;
  animation: gradient 35s ease infinite;
  background-size: auto 100%;
  padding-top: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1
}

/*
  BACKGROUND ANIMATION
*/

@keyframes gradient {
  0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}


/*
  FIXED MENU STYLE
*/

.menu {
    z-index: 1;
    overflow: hidden;
    background-color: var(--menu-color);
    position: fixed;
    top: 0;
    width: 100%;
  }
  .hamburger-menu{
    display: none;
  }

  .menu img{
    float: left;
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  .menu a{
    background-color: var(--menu-color);
    color: #f2f2f2;
    float: left;
    display: block;
    text-align: center;
    padding: 14.5px 20px;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 0.3s;
  }
  
  .menu a:hover{
    background: #ddd;
    color: var(--menu-color);
    font-size: 2rem;
  }

/*
  FIXED MENU DROPDOWN 
*/

.hamburger-menu{
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  height: 100px;
}

#menuToggle{
  display: block;
  position: relative;
  width: 50px;
  top: 50px;
  left: 50px;
  z-index: 1;
}

#menuToggle a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -8px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; 
}

#menuToggle span{ /* HAMBURGER PART */
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--menu-color);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{ /* HAMB TO CROSS ANIMATION*/
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fdfdfd;
  }

  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

#menu{
  position: absolute;
  width: 350%;
  margin: -100px 0 0 -50px;
  padding-top: 125px;
  background: var(--menu-color);
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  transition-duration: .3s;
  margin-bottom: 33px;
  padding: 15px;
  font-size: 22px;
}

#menu li:hover{
  background: #fff;
  color: var(--menu-color);
  font-size: 1.7rem;
}

#menuToggle input:checked ~ ul{
  transform: none;
}

/*
  FANCY SCROLLBAR
*/

::-webkit-scrollbar { 

  width: 15px;
}
::-webkit-scrollbar-track {
  background: #ccc; 
}
::-webkit-scrollbar-thumb {
  background: #555; 
}
::-webkit-scrollbar-thumb:hover {
  background: #777
}

/*
  PAGE STYLE
*/

.box{
  border: 3px solid var(--box-black2);
  border-radius: 10px;
  background-color: var(--box-black);
}

.centered-text{
  text-align: center;
}

.no-selectable{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*
  HEADER SUMMARY & GRAPH
*/

.header{
  display: grid;
  margin: 0 20px;
  row-gap: 30px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "summary graph graph"
                       "div div div";
}

.prev-summary, .prev-graph{
  padding: 20px;
  display: block;
}

.prev-graph{
  grid-area: graph;
}

.graph{
  height: 100%;
  width: 100%;
}

.summary{
  padding: 10px;
  grid-area: summary;
}
/*
  SUMMARY TABLE
*/

.summary{
  display: flex;
}

.summary-table{
  width: 100%;
}



/*
  DIVISOR STYLE
*/

.divisor{
  display: flex;
  gap: 0px;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  background-color: var(--menu-color);
  width: 100%;
  user-select: none;
}

.half-1,.half-2{
  width: 42%;
}


.divisor-text{
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  color: white;
  height: 30px;
  width: 16%;
  text-align: center;
}
.divisor-text > p{
  margin: 0;
}

/*
  COMMENT AREA
*/

.comments{
  display: flex;
  flex-direction: row;
}

.comment{
  padding: 10px;
  word-break: break-word;
  margin: 20px 20px 40px 20px;
}

.comment.box{
  filter: brightness(1);
  transition-duration: 0.3s;
}

.comments-left,.comments-right{
  width: 50%;
  max-width: 50%;
  padding: 10px;
}

.comment.box:hover{
  background-color: var(--box-black-selected);
}

#date{
  font-size: .7rem;
  text-align: right;
  margin-bottom: 0;
}

/*
  FOOTER
*/

.footer{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 11px;
  background-color: var(--menu-color);
  height: 100px;
  width: 100%;
}

/*
  MEDIA (PHONE STYLING)
*/

@media screen and (max-width: 600px){
  /* BACKGROUND FIX */

  html{
    background-size: 100vw 100vh;
    bottom: -100px;
  }

  /* COMMENT MEDIA */
  .comments{
    flex-direction: column;
  }

  .comments-left,.comments-right{
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
  }

  .comment{
    min-width: 170px;
  }

  /* HEADER MEDIA */

  .header{
    display: flex;
    flex-direction: column;
  }
  
  .prev-summary, .prev-graph{
    min-width: 190px;
    padding: 20px;
    display: block;
  }
  
  .prev-graph{
    height: auto;
    width: auto;
  }

  /* DIVISION MEDIA */

  .divisor{
    min-width: 250px;
  }

  /* FIXED MENU */
  .menu{
    display: none;
  }

  .hamburger-menu{
    display: block;
    min-width: 250px;
  }

  .page{
    padding-top: 0;
  }
}