@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
  font-family: 'Roboto Mono', monospace;
  color: white
}

/*
  COLOR & VAR NORMALIZATION
*/

:root{
  --background-color: linear-gradient(45deg, rgba(76,143,206,1) 0%, rgba(231,110,226,1) 100%);
  --box-black: rgba(51, 51, 51,0.7);
  --box-black-selected: rgba(75, 75, 75,0.7);
  --menu-color: #333;
}

/*
  BODY MARGIN INIT
*/

body{
    margin: 0;
    padding: 0;
}

html{
  background: var(--background-color);
  animation-name: background-animation;
  animation: gradient 35s ease infinite;
  background-size: 300%;
  background-attachment: fixed;
}

/*
  BACKGROUND ANIMATION
*/

@keyframes gradient {
  0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}


/*
  FIXED MENU STYLE
*/

.menu {
    z-index: 1;
    overflow: hidden;
    background-color: var(--menu-color);
    position: fixed;
    top: 0;
    width: 100%;
  }

  .menu img{
    float: left;
    width: 30px;
    height: 30px;
    padding: 10px;
  }

  .menu a{
    background-color: var(--menu-color);
    color: #f2f2f2;
    float: left;
    display: block;
    text-align: center;
    padding: 14.5px 20px;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 0.3s;
  }
  
  .menu a:hover{
    background: #ddd;
    color: var(--menu-color);
    font-size: 2rem;
  }

/*
  FIXED MENU DROPDOWN 
  TODO ---
*/



/*
  FANCY SCROLLBAR
*/

::-webkit-scrollbar { 

  width: 15px;
}
::-webkit-scrollbar-track {
  background: #ccc; 
}
::-webkit-scrollbar-thumb {
  background: #555; 
}
::-webkit-scrollbar-thumb:hover {
  background: #777
}

/*
  PAGE STYLE
*/

.content{
  margin-top: 80px;
}

.box{
  border-radius: 10px;
  background-color: var(--box-black);
}

.centered-text{
  text-align: center;
}

/*
  HEADER SUMMARY & GRAPH
*/

.header{
  display: grid;
  margin: 0 30px;
  row-gap: 20px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "summary graph graph"
                       "div div div";
}

.prev-summary, .prev-graph{
  display: block;
  padding: 10px;
}

.prev-graph{
  grid-area: graph;
}

.graph{
  height: 100%;
  width: 100%;
}

.summary{
  padding: 10px;
  grid-area: summary;
}

/*
  DIVISOR STYLE
*/

.divisor{
  display: flex;
  gap: 0px;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  background-color: var(--menu-color);
  width: 100%;
}

.half-1,.half-2{
  width: 42%;
}


.divisor-text{
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  color: white;
  height: 30px;
  width: 16%;
  text-align: center;
}
.divisor-text > p{
  margin: 0;
}

/*
  COMMENT AREA
*/

.comments{
  display: flex;
  flex-direction: row;
}

.comment{
  padding: 10px;
  word-break: break-word;
  margin: 20px 20px 40px 20px;
}

.comment.box{
  filter: brightness(1);
  transition-duration: 0.3s;
}

.comments-left,.comments-right{
  max-width: 50%;
}

.comment.box:hover{
  background-color: var(--box-black-selected);
}

#date{
  font-size: .7rem;
  text-align: right;
  margin-bottom: 0;
}

/*
  FOOTER
*/

.footer{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 11px;
  background-color: var(--menu-color);
  height: 100px;
  width: 100%;
}

/*
  MEDIA (PHONE STYLING)
*/

@media screen and (max-width: 600px){
  .comments{
    flex-direction: column;
  }

  .comments-left,.comments-right{
    max-width: 100%;
  }
}