body{
    background-color: rgb(252, 252, 164);
    width: 100vw;
    height: auto;
    margin: 0; padding:0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 200px;
}
/*CREAR USUARIO*/
.creacion{
    margin: 0;
}
form{   
    text-align: center;
}
form h1{
    padding: 0;
    margin: 0;
}
form input{
    display: block;
    margin: 30px auto;
    border-radius: 5px;
}
form .radio{
    display: inline;
}
/*TABLA*/
.tablas{
    margin: 0 auto;
}
table{
    border-collapse: collapse;
    width: fit-content;
    text-align: center;
}   
table th{
    background-color: greenyellow;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: black;
}


/*General*/
h1{
    font-size: 30px;
}
.dividir{
    background-color: black;
    height: 1px;
    margin: 50px;
}