body{
    display: flex;
    width: 100vw;
    height: auto;
    margin: 0;
    padding:0;
}
/*CREAR USUARIO*/
form{
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: fit-content;
    border-bottom: 2px dashed black;
    border-right: 2px dashed black;
}
form h1{
    padding: 0;
    margin: 0;
}
form input{
    display: block;
    margin: 10px auto;
}
/*TABLA*/
table{
    margin: 0 auto;
    display: inline-block;
    border: 2px groove black;
    border-collapse: collapse;
    text-align: center;
}
table th{
    border-right: 2px groove black;
    border-bottom: 2px groove black;
}