/* FORM STYLE */

:root {
    --background-color: linear-gradient(90deg, rgba(38, 23, 179, 1) 0%, rgba(0, 131, 255, 1) 100%);
    --form-background: rgba(22, 22, 22, .8);
    --form-background-hover: rgba(155, 155, 155, .8);
    --form-border: rgba(22, 22, 22, .8);
    --form-border-selected: rgba(155, 155, 155, .8);
    --form-line-color: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 40%, rgba(0, 0, 0, .4) 60%, rgba(0, 0, 0, 0) 100%);
}

.page {
    background: var(--background-color);
}

/* FORM BOX */

.content {
    padding: 3vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-box {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background: var(--form-background);
    border: 3px solid var(--form-border);
    border-radius: 20px;
    padding: 3vw;

    backdrop-filter: blur(10px);
}

.fancybox {
    background: var(--form-background);
    border: 3px solid var(--form-border);
    border-radius: 20px;
    padding: 2vw;

    display: flex;
    align-items: center;
    gap: 30px
}

#myForm>p,
label {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-box p {
    user-select: none;
    font-size: 3vh;
}

/* SEND BUTTON */

#send {
    height: 60px;
    background: var(--form-background);
    color: white;
    font-size: 2rem;
    border: 2px solid var(--form-border);
    border-radius: 10px;
    transition-duration: .2s;
    cursor: pointer;
}

#send:hover {
    background: var(--form-background-hover);
    color: black;
}

/* SLIDE INPUT */

input[type=range] {
    background: #FFFFFF00;
    height: 50px;
    -webkit-appearance: none;
    width: 20vw;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    background: #50555C;
    border-radius: 21px;
}

input[type=range]::-webkit-slider-thumb {
    height: 44px;
    width: 27px;
    border-radius: 8px;
    background: #529DE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15.5px;
}

input[type=range]::-webkit-slider-thumb:active {
    filter: brightness(1.3);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    background: #50555C;
    border-radius: 21px;
}

input[type=range]::-moz-range-thumb {
    height: 44px;
    width: 27px;
    border-radius: 8px;
    background: #529DE1;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    background: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #50555C;
    border-radius: 42px;
}

input[type=range]::-ms-fill-upper {
    background: #50555C;
    border-radius: 42px;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    height: 44px;
    width: 27px;
    border-radius: 8px;
    background: #529DE1;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
}

input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
}

#numberExam,
#numberTarea,
#numberNota {
    margin: 0 auto;
    width: 32px;
}

/* COMMENT AREA */

textarea {
    padding: 10px;
    background: var(--form-background);
    border: 2px solid var(--form-border);
    border-radius: 10px;
    max-width: calc(100% - 27px);
    min-width: calc(100% - 27px);
    min-height: 25vh;
    max-height: 25vh;
    ;
    font-size: 1.5rem;
    text-overflow: ellipsis;
}

textarea:focus {
    border: 2px solid var(--form-border-selected);
    outline: none;
}

#selectProfesor {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid var(--form-border);
    border-radius: 5px 10px 5px 5px;
    padding: 10px;
    font-size: 1rem;
    background: var(--form-background);
}

#form-div {
    background: var(--form-line-color);
    height: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* LIKE / DISLIKE */

.disabled{
    fill: #CCC;
}
.like{
    fill: rgb(25, 189, 25);
    filter: drop-shadow(0px 0px 10px rgba(25, 189, 25,0.5));
}
.dislike{
    fill: rgb(226, 16, 16);
    filter: drop-shadow(0px 0px 10px rgba(226, 16, 16, 0.5));
} 


/* MEDIA QUERY */

@media (max-width:700px){
    .fancybox{
        width: 80%;
    }
    input[type=range]{
        width: 50vw;
    }
    #nota{
        margin-top: 60px !important; 
    }

}