@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --background-color: linear-gradient(45deg, rgba(76, 143, 206, 1) 0%, rgb(203, 110, 231) 100%);
  --box-black: rgba(51, 51, 51, 0.9);
  --box-black2: rgba(37, 37, 37, 0.6);
  --box-black-selected: rgba(75, 75, 75, 0.7);
  --hamburger-white: #ddd;
  --menu-color: #333;
  --table-odd-color: rgb(0, 0, 0, 0.11);
  --desactivado: #ff5c5c;
  --activado: #67ff52;
}

/*
  PAGE INIT
*/

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background: var(--background-color);
  animation-name: background-animation;
  animation: gradient 35s ease infinite;
  background-size: auto 100%;
  padding-top: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-height: calc(100vh - 100px);
}

.content {
  flex: 1 1 auto;
}

/*
  BACKGROUND ANIMATION
*/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/*
  FIXED MENU STYLE
*/

.user-box{
  cursor: pointer;
  padding: 10px;
  gap: 10px
}.user-box:hover + div,.user-menu:hover{
  display: flex;
}

.user{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background: rgb(141, 180, 95);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
}

#letter{
  user-select: none;
  font-weight: bold; 
  transform: translateY(-1px);
}

.user-menu{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--menu-color);
  padding: 10px;
  z-index: 100;
  position: fixed;
  border-radius:0 0 0 20px ;
  top: 50px;
  right: 0;
}

.user-menu a {
  border-radius: 0 0 0 16px;
}
.menu a:hover{
  background: #ddd;
  color: var(--menu-color);
  font-weight: bold;
}

.form-activate{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-activate > input{
  width: 100%;
  height: 100%;
  background: var(--menu-color);
  border: 1px solid gray;
  transition-duration: 0.3s;
  border-radius: 0 10px 0 0;
  cursor: pointer;

  font-weight: bold;
  color: black;
}

input[value=Desactivado]{
  background: var(--desactivado);
}

input[value=Activado]{
  background: var(--activado);
}

.form-activate > input:hover{
  filter: brightness(1.4);
}

#cerrar{
  border: 1px solid gray;
}


.menu {
  z-index: 1;
  overflow: hidden;
  background-color: var(--menu-color);
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

.menu img {
  float: left;
  width: 30px;
  height: 30px;
  padding: 10px;
}

.menu a{
  background-color: var(--menu-color);
  color: #f2f2f2;
  float: left;
  display: block;
  text-align: center;
  padding: 14.5px 20px;
  text-decoration: none;
  font-size: 1rem;
  transition-duration: 0.3s;
  user-select: none;
}
.menu a:hover:not(.cerrar){
  background: #ddd;
  color: var(--menu-color);
  font-weight: bold;
  font-size: 2em;
}

/*
  FIXED MENU DROPDOWN 
*/

.hamburger-menu {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  height: 100px;
}

#menuToggle {
  display: block;
  position: relative;
  width: 100px;
  top: 50px;
  left: 50px;
  z-index: 1;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -8px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  /* HAMBURGER PART */
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--hamburger-white);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  /* HAMB TO CROSS ANIMATION*/
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fdfdfd;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 350%;
  margin: -100px 0 0 -50px;
  padding-top: 125px;
  background: var(--box-black);
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  backdrop-filter: blur(10px);
  border-radius: 0 0 15px 0;
}

#menu li {
  transition-duration: .3s;
  margin-bottom: 33px;
  padding: 15px;
  font-size: 22px;
}

#menu li:hover {
  background: #fff;
  color: var(--menu-color);
  font-size: 1.7rem;
}

#menuToggle input:checked~ul {
  transform: none;
}

#welcome-hamb{
  position: relative;
  top: -70px;
  left: 100px;
}

/*
  FANCY SCROLLBAR
*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #777
}

/*
  PAGE STYLE
*/

.box {
  box-shadow: 5px 5px 20px #00000055;
  border-radius: 10px;
  background-color: var(--box-black);
}

.centered-text {
  text-align: center;
}

.no-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*
  HEADER SUMMARY & GRAPH
*/

.header {
  display: grid;
  margin: 0 30px;
  row-gap: 30px;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "summary graph graph"
    "div div div";
}

.prev-summary{
  padding: 20px 20px 20px 0px;
}
.prev-graph {
  padding: 20px 0px 20px 20px;
  display: block;
}

.prev-graph {
  grid-area: graph;
}

.graph {

  height: 100%;
  width: 100%;
  max-height: 300px;
}

#nodata{
  text-align: center;
  margin:0;
  padding:0;
  display:none;
}

.summary {
  padding: 0 10px;
  grid-area: summary;

  min-height: 300px;
}

/*
  SUMMARY TABLE
*/

.summary{
  display: flex;
}

.summary-table {
  padding-bottom: 15px;
  padding-top: 0;
  width: 100%;
}
.summary-table tr:nth-child(odd) td{
  background: var(--table-odd-color);
}
.summary-table > *{
  padding: 0;
  border: none;
}
td:nth-child(2){
  text-align: center;
}
th{
  padding: 10px;
}


/*
  DIVISOR STYLE
*/

.divisor {
  display: flex;
  gap: 0px;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  background-color: var(--menu-color);
  width: 100%;
  user-select: none;
}

.half-1,
.half-2 {
  width: 42%;
}


.divisor-text {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  color: white;
  height: 30px;
  width: 16%;
  text-align: center;
}

.divisor-text>p {
  margin: 0;
}

/*
  COMMENT AREA
*/

.comments {
  display: flex;
  flex-direction: row;
}

.comment {
  padding: 10px;
  word-break: break-word;
  margin: 20px 20px 40px 20px;
}

.comment.box {
  filter: brightness(1);
  transition-duration: 0.3s;
}

.comments-left,
.comments-right {
  width: 50%;
  max-width: 50%;
  padding: 10px;
}

.comment.box:hover {
  background-color: var(--box-black-selected);
}

#date {
  font-size: .7rem;
  text-align: right;
  margin-bottom: 0;
}

.comments-media {
  width: 100%;
  padding: 10px;
  display: none;
}

/*
  FOOTER
*/

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 11px;
  background-color: var(--menu-color);
  height: 100px;
  width: 100%;
}

/*
  MEDIA (PHONE STYLING)
*/

@media screen and (max-width: 600px) {
  /* FOOTER FIX */

  .content {
    min-height: calc(100vh - 200px);
  }

  /* BACKGROUND FIX */

  html {
    background-size: 100vw 100vh;
    bottom: -100px;
  }

  /* COMMENT MEDIA */

  .comments-left,
  .comments-right {
    display: none;
  }

  .comment {
    min-width: 170px;
  }

  .comments-media {
    padding: 10px;
    display: block;
  }

  /* HEADER MEDIA */

  .header {
    display: flex;
    flex-direction: column;
  }

  .prev-summary,
  .prev-graph {
    min-width: 190px;
    min-height: 300px;
    display: block;
    padding: 0;
  }

  .prev-graph {
    height: auto;
    width: auto;
    margin-bottom: 30px;
  }

  form{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  form > input{
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
  }

  /* DIVISION MEDIA */

  .divisor {
    background-color: var(--box-black);

    min-width: 250px;
  }

  /* FIXED MENU */
  .menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
    min-width: 250px;
  }

  .page {
    padding-top: 0;
  }
}